.schedule-block1{
    background: linear-gradient(to right, #185a9d, #00bf8f);
}

.schedule-block2{
    background: linear-gradient(to right, #185a9d, #00bf8f);
}

.schedule-block4{
    background: linear-gradient(to left, #0c473a, #00bf8f);
}

.schedule-block3{
    background: linear-gradient(to left, #0c473a, #00bf8f);
}